# ------------------------------
# 操作系统文件
# ------------------------------
.DS_Store
Thumbs.db
desktop.ini

# ------------------------------
# WebStorm / JetBrains 编辑器配置
# ------------------------------
.idea/

# ------------------------------
# VSCode 编辑器配置
# ------------------------------
.vscode/
